.classe_absence {
    padding: 10px;
    border: 1px solid $color_accent;
    margin-bottom: 10px;
    border-radius: 5px;
    &:first-child{
        margin-top: 10px;
    }
    h4 {
        color: $color_accent;
    }

}

.recap_presence {
    h3 {
        color: $color_accent;
    }
}